body{
   height: 100%;
   margin: 0;
}

.background {
    
    height: 100%;
    width: 100%;
    background-color: #FFE8BD; 
    position: relative;
    overflow: hidden;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    
    background-image: url('images/backgroundtree.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.5; 
}

.content {
    position: relative; 
    z-index: 1; 
    color: white;
    text-align: center;
    padding-top: 20%;
}


#text-username{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    

}
 
#text-password{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}